/***********************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Reset.css END */

/* Animations */
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@-webkit-keyframes flash{
  0%{ opacity: 1; }
  25%{ opacity: 0.5; }
  50%{ opacity: 0; }
  75%{ opacity:0.5; }
  100%{ opacity: 1; }
}
@keyframes flash{
  0%{ opacity: 1; }
  25%{ opacity: 0.5; }
  50%{ opacity: 0; }
  75%{ opacity:0.5; }
  100%{ opacity: 1; }
}
@-webkit-keyframes cloudmove{
  0%{ left:-50px; }
  100%{ left:100%; }
}
@keyframes cloudmove{
  0%{ left:-50px; }
  100%{ left:100%; }
}
/* Animation END */

body {
  font-family: Arial sans-serif;
  font-size:15px;
  background: -webkit-linear-gradient(top, #87CEFA 0%, #b6e2fd 80% ,white 100%);
}

.main_bg {
  z-index:-999;
  position:absolute;
  width:100%;
  height:300px;
  top:50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.clouds {
  position:absolute;
  color:white;
  left:-50px;
  z-index:-99;
}
.clouds.first {
  top:10px;
  font-size:35px;
  animation:cloudmove 20s linear infinite ;
  -webkit-animation: cloudmove 20s linear infinite;
}

.clouds.second {
  top:100px;
  font-size:28px;
  animation:cloudmove 25s linear infinite ;
  -webkit-animation: cloudmove 25s linear infinite;
}

.clouds.third {
  top:280px;
  font-size:20px;
  animation:cloudmove 50s linear infinite ;
  -webkit-animation: cloudmove 50s linear infinite;
}

.logo {
  width:150px;
  margin:0 auto;
  bottom:30px;
}

.logo img{
  max-width:100%;
}

.item#first {
  padding-top:50px;
  text-align: center;
}

.title {
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  color:white;
  opacity: 0;
  font-size:25px;
  -webkit-transform:translate(0,-10px);
  transform:translate(0,-10px);
}

.title.show {
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  opacity: 1;
  -webkit-transform:translate(0,0);
  transform:translate(0,0);
}

.text {
  -webkit-transition:all 1s;
  transition:all 1s;
  opacity: 0;
}

.flipInX {
  opacity: 1;
  -webkit-animation: flipInX 1s ;
  animation: flipInX 1s;
}

#first .text {
  font-size:20px;
  position:relative;
  top:200px;
  color:#F44336;
}

.arrow-left {
  position:relative;
  top:250px;
}

.swip-left {
  -webkit-animation:flash 2s infinite;
  animation:flash 2s infinite;
  color:white;
  padding-right:5px;
}

.swip-left:nth-child(1){
  -webkit-animation-delay:2.5s;
  animation-delay:1.5s;
}

.swip-left:nth-child(2){
  -webkit-animation-delay:2s;
  animation-delay:1.2s;
}

.swip-left:nth-child(3){
  -webkit-animation-delay:1.5s;
  animation-delay:0.9s;
}

.swip-left:nth-child(4){
  -webkit-animation-delay:1s;
  animation-delay:0.6s;
}

.swip-left:nth-child(5){
  -webkit-animation-delay:0.5s;
  animation-delay:0.3s;
}
