/***********************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Reset.css END */

/* Animations */
@-webkit-keyframes require-in{
  to{
    left:0;
  }
}
@-webkit-keyframes cloudmove {
  0%{
    left:-50px;
  }
  100%{ 
    left:320px;
  }
}
@keyframes cloudmove {
  0%{
    left:-50px;
  }
  100%{ 
    left:320px;
  }
}
@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes flash{
  0%{ opacity: 1; }
  25%{ opacity: 0.5; }
  50%{ opacity: 0; }
  75%{ opacity:0.5; }
  100%{ opacity: 1; }
}
@keyframes flash{
  0%{ opacity: 1; }
  25%{ opacity: 0.5; }
  50%{ opacity: 0; }
  75%{ opacity:0.5; }
  100%{ opacity: 1; }
}
@-webkit-keyframes turn-round {
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100%{ 
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@keyframes turn-round {
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100%{ 
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);;
  }
}
@keyframes flash{
  0%{ opacity: 1; }
  25%{ opacity: 0.5; }
  50%{ opacity: 0; }
  75%{ opacity:0.5; }
  100%{ opacity: 1; }
}
/* Animation END */

body {
  font-family: Arial, Microsoft Yahei, sans-serif;
  font-size:15px;
  background: -webkit-linear-gradient(top, #87CEFA 0%, #b6e2fd 100%);
}
.shadow {
  z-index:10;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
}
.clear-fixed {
  clear:both;
}
.common {
  height:100%;
}

.text-area {
  padding-left:20px;
  padding-right:20px;
}

.main_bg {
  z-index:-999;
  position:absolute;
  width:100%;
  height:300px;
  top:50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.clouds {
  position:absolute;
  color:white;
  left:-50px;
  z-index:-1;
}
.clouds.first {
  top:10px;
  font-size:35px; 
  -webkit-animation: cloudmove 20s linear infinite;
  animation: cloudmove 20s linear infinite;
}

.clouds.second {
  top:100px;
  font-size:28px;  
  -webkit-animation: cloudmove 25s linear infinite;
  animation: cloudmove 25s linear infinite;
}

.clouds.third {
  top:280px;
  font-size:20px;  
  -webkit-animation: cloudmove 50s infinite;
  animation: cloudmove 50s linear infinite;
}

.logo {
  -webkit-transition:all 1s;
  transition:all 1s;
  width:150px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-71px;
  margin-left:-75px;
  -webkit-transform:rotate(0deg) scale(1,1);
  transform:rotate(0deg) scale(1,1);
}

.logo img{
  max-width:100%;
}

.title {
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  color:white;
  opacity: 0;
  font-size:25px;
  -webkit-transform:translate(0,-10px);
  transform:translate(0,-10px);
  display:block;
  margin-bottom: 150px;
}

.play .title {
  -webkit-transition:all 1s;
  transition:all 1s;
  opacity: 1;
  -webkit-transform:translate(0,0);
  transform:translate(0,0);
}

.text {
  -webkit-transition:all 1s;
  transition:all 1s;
  display:block;
}

.item .container {
  position: relative;
  max-width: 320px;
  -webkit-box-flex: 1;
  box-flex: 1;
  padding-top: 50px;
}

.item {
  text-align: center;
}
.flex-box {
  height:100%;
  position:relative;
  display: -webkit-box;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  box-pack: center;
}

/*First side*/

#first .text {
  font-size:20px;
  color:#F44336;
  margin-top:150px;
  text-align:center;
  display:block;
  width:100%;
}

.swip-left {
  -webkit-animation:flash 2s infinite;
  animation:flash 2s infinite;
  padding-right:5px;
}

.swip-left:nth-child(1){
  -webkit-animation-delay:2.5s;
  animation-delay:1.5s;
}

.swip-left:nth-child(2){
  -webkit-animation-delay:2s;
  animation-delay:1.2s;
}

.swip-left:nth-child(3){
  -webkit-animation-delay:1.5s;
  animation-delay:0.9s;
}

.swip-left:nth-child(4){
  -webkit-animation-delay:1s;
  animation-delay:0.6s;
}

.swip-left:nth-child(5){
  -webkit-animation-delay:0.5s;
  animation-delay:0.3s;
}
.arrow-left {
  margin:50px auto 0 0;
  text-align:center;
  font-size:20px;
  color:white;
}
.more {
  font-size:15px;
}
/*First slide END*/
/*Second slide*/
.step-1.logo{
  -webkit-transform:translate3d(0,-60px,0);
  transform:translate3d(0,-60px,0);
}
#second .title {
  position:absolute;
  top:-30px;
  width:100%;
  text-align: center;
}

#second .what-we-do {
  height:300px;
  width:320px;
  margin:0 auto;
}

.cover-border {
  -webkit-transition:all 1s;
  transition:all 1s;
  -webkit-transform: scale(0);
  transform: scale(0);
  width:250px;
  height:250px;
  margin:-110px 0 0 -125px;
  border:1px #fff solid;
  border-radius: 999px;
  position:absolute;
  top:50%;
  left:50%;
}

.play .cover-border{
  -webkit-transition:all 1s;
  transition:all 1s;
  -webkit-transition-delay: .8s;
  transition-delay: 0.8s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#second .skill {
  width:65px;
  display:block;
  position:absolute;
  z-index:1;
  opacity: 0;
  -webkit-transition: all ease .7s 1.5s;
  -webkit-transform: translate3d(127px,100px,0) scale(1);
}
#second .skill .cover {
  width:65px;
  height:65px;
  margin-bottom:5px;
  display:block;
  border-radius: 999px;
  background-color:white;
}
#second .skill img {
  width:100%;
}

.play #service-1 {
  -webkit-transform: translate3d(130px,-20px,0) scale(1,1);
  opacity: 1;
  -webkit-transition-delay: 1.2s;
}

.play #service-2 {
  -webkit-transform: translate3d(177px,197px,0) scale(1,1);  
  opacity: 1;
  -webkit-transition-delay: 1.6s;
}

.play #service-3 {
  -webkit-transform: translate3d(9px,63px,0) scale(1,1);
  opacity: 1;
  -webkit-transition-delay: 2.0s;  
}

.play #service-4 {
  -webkit-transform: translate3d(244px,63px,0) scale(1,1);  
  opacity: 1;
  
  -webkit-transition-delay: 1.4s;
}
.play #service-5 {
  -webkit-transform: translate3d(65px,197px,0) scale(1,1);
  opacity: 1; 
  -webkit-transition-delay: 1.8s;
}
/*Third Slide Start*/
.step-3.logo {
  -webkit-transition:all ease 2s;
  transition:all ease 2s;
  opacity: 0;
  -webkit-transform:rotate(720deg) scale(0);
  transform:rotate(720deg) scale(0);
}
#third .title {
  margin-bottom:10px;
}
#third article {
  margin-bottom:10px;
}
#third .container {
  height:100%;
}
.job-type {
  width:100%;
  margin:0 auto;
  background-color: white;
  border-bottom:1px #f8f8f8 solid;
}
.job-type li{
  float:left;
  width:25%;
  list-style: none;
  height:40px;
  line-height:40px;
  text-align:center;
  border-right:1px #f8f8f8 solid;
  font-weight:bold;
  font-size:18px;
}
.job-type li a {
  text-decoration: none;
  color:black;
}
.job-type li a:visited{
  text-decoration: none;
  color:black;
}
.job-type li.active a {
  color:#42bdf9;
}
.job-list {
  width:100%;
  margin:0 auto;
  background-color: white;
}
.job-list li{
  display:block;
  height:40px;
  line-height:40px;
  border-bottom:1px #f8f8f8 solid;
}
.job-detail {
  display:none;
  width:320px;
  left:50%;
  margin-left:-170px;
  background-color: white;
  position:absolute;
  top:20px;
  z-index:9999;
  padding:10px;
}
.job-name {
  display:block;
  border-bottom: 1px #f8f8f8 solid;
  text-align: center;
  margin-bottom:5px;
  padding-bottom:5px;
}
.job-description {
  padding-left:5px;
  border-bottom: 1px #f8f8f8 solid;
}
.job-description li{
  list-style: none;
  margin-bottom:10px;
}
.job-footer {
  padding-top:5px;
  text-align: center;
}
#close {
  color:black;
  position:absolute;
  top:8px;
  right:20px;
  text-decoration: none;
}
#close:visited {
  color:black;
  text-decoration: none;
}